<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lỗi Không Tìm Thấy Trang</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main-style.css' %}">

	
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive-style.css' %}">
</head>

<body>

	<main class="main-container">
		<div class="error-container">
			<div class="error-code">
				404
			</div>
			<h1>XIN LỖI , KHÔNG CÓ GÌ Ở ĐÂY</h1>
			<p>Hãy thử tìm kiếm hoặc <a class="go-home-link" href="javascript:history.back();">Trở lại</a>.</p>
		</div>
	</main>


</body>



</html>