{% load static %}

<!-- article comment area start -->


<div class="article-comments">
    <div class="w-header">
        <div class="w-title">Bình Luận ({{post.comment_count}})</div>
        <div class="w-seperator"></div>
    </div>
    <!-- Reply section (logged in user) -->
    
    {% if user.is_authenticated %}
    
        
    <section class="my-3">
        <form method="POST" action="{{ post.slug }}/comment/">
             {% csrf_token %}
            <div class="d-md-flex flex-md-fill mt-4 px-1">
                <div class="d-flex justify-content-center mr-md-5">
                    <img class="card-img-100 z-depth-1 rounded-circle"
                        src="{% if user.author.profile_pic.url  %}{{ user.author.profile_pic.url }}{% else %}{% static 'img/user.png' %}{% endif %}" alt="avatar">
                        
                </div>
                {{ formcomment.body}}
                
            </div>
            <div class="text-center mt-4">
                <button class="btn blue-gradient btn-primary btn-md" type="submit"><i class="fas fa-location-arrow"></i> Bình Luận</button>
            </div>
        </form>

    </section>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <strong>Thông Báo!</strong> Bạn cần phải <button href="#"  data-modal="loginModal" class="btn btn-primary btn-sm" type="button"> Đăng Nhập </button>để bình luận ! 
        </div>
    {% endif %}
        
    
   
        
    <!-- Reply section (logged in user) -->
    <div class="all-comments accordion" id="accordionExample">
        {% for comment in all_comment %}
           
            <!-- comment item start -->
        <div class="comment-item"  id="heading{{ comment.id }}">
            <div class="comment-avatar">
                <span class="comment-img"><img
                        src="{% if comment.user.author.profile_pic.url  %}{{ comment.user.author.profile_pic.url }}{% else %}{% static 'img/user.png' %}{% endif %}"
                        width="50" height="50"></span>
                
                {% if comment.user.is_staff %}
                <span class="badge badge-warning"><i class="fas fa-crown"></i>&nbsp;ADMIN&nbsp;</span>
                {% else %}
                <span class="badge badge-info"><i class="fas fa-user"></i>&nbsp;&nbsp;USER&nbsp;</span>
                {% endif %}
                    
                        
            </div>
            
            <div class="comment-content">
                <div class="comment-header">
                    <span class="author-name">{{ comment.user }} {% if comment.user.is_staff %}<i class="fas fa-check-circle text-success"></i>{% endif %}</span> -
                    <span class="comment-date">{{ comment.timestamp | timesince }} ago</span>
                    <span class="replay-button">
                        <a role="button" class="pull-right text-default {% if user.is_authenticated is False %}disabled{% endif %}" data-toggle="collapse" data-parent="#accordionExample" aria-expanded="true" aria-controls="collapse{{ comment.id }}" href="#collapse{{ comment.id }}">
                            <i class="fas fa-reply"></i>
                        </a></span>
                </div>
                <div class="comment-wrapper">
                    {{ comment.body | safe}} 
                </div>
                <!-- <div class="comment-meta">
                    <span class="replay-button">
                        <a role="button" class="pull-right text-default {% if user.is_authenticated is False %}disabled{% endif %}" data-toggle="collapse" data-parent="#accordionExample" aria-expanded="true" aria-controls="collapse{{ comment.id }}" href="#collapse{{ comment.id }}">
                            <i class="fas fa-reply"></i>
                        </a></span>
                    <button type="button" class="comment-vote up-vote"><i
                            class="material-icons">&#xE8DC;</i> <span
                            class="vote-count">+7</span></button>
                    <button type="button" class="comment-vote down-vote"><i
                            class="material-icons">&#xE8DC;</i> <span
                            class="vote-count">-1</span></button>
                </div> -->
                
                {% if user.is_authenticated %}
                <div id="collapse{{ comment.id }}" class="panel-collapse collapse" aria-labelledby="heading{{ comment.id }}" data-parent="#accordionExample">
                    <form  method="POST" action="{{ post.slug }}/comment-{{ comment.id }}/">
                            <div class="d-md-flex flex-md-fill mt-3 px-2">
                                    {%  csrf_token %}
                                    {{ formcomment.body}}
                            </div>
                            <div class="text-center ">
                                <button type="submit" class="btn blue-gradient btn-primary btn-sm"><i class="fas fa-reply"></i> Trả Lời Bình Luận</button>
                            </div>
                            
                    </form>
                       
                </div>
                {% endif %}
                    
                
                
                    
               
                    
                    {% for rep in comment.rep.all %}
                    <div class="comment-item">
                            <div class="comment-avatar">
                                <span class="comment-img"><img
                                        src="{% if rep.user.author.profile_pic.url  %}{{ rep.user.author.profile_pic.url }}{% else %}{% static 'img/user.png' %}{% endif %}"
                                        width="50" height="50"></span>
                                        {% if rep.user.is_staff %}
                                        <span class="badge badge-warning"><i class="fas fa-crown"></i>&nbsp;ADMIN&nbsp;</span>
                                        {% else %}
                                        <span class="badge badge-info"><i class="fas fa-user"></i>&nbsp;&nbsp;USER&nbsp;</span>
                                        {% endif %}
                            </div>
                            <div class="comment-content">
                                <div class="comment-header">
                                    <a href="#" class="author-name">{{rep.user}} {% if rep.user.is_staff %}<i class="fas fa-check-circle text-success"></i>{% endif %}</a> -
                                    <span class="comment-date">{{ rep.timestamp | timesince }} ago</span>
                                </div>
                                <div class="comment-wrapper">
                                    {{ rep.body | safe}}
                                </div>
                                <!-- <div class="comment-meta">
                                    
                                    <button type="button" class="comment-vote up-vote"><i
                                            class="material-icons">&#xE8DC;</i> <span
                                            class="vote-count">+7</span></button>
                                    <button type="button" class="comment-vote down-vote"><i
                                            class="material-icons">&#xE8DC;</i> <span
                                            class="vote-count">-1</span></button>
                                </div> -->
                            </div>
                        </div>
                    {% endfor %}
                        
                
               
                    
                <!-- comment item start -->
            
            <!-- comment item end -->
            </div>
        </div>
        
    <!-- comment item end -->
         {% endfor %}
        
        
        

    </div>
    <div class="load-more mt-4">
						
        <ul class="pagination pg-blue">
                {% if all_comment.has_previous %}
                <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="?comment={{ all_comment.previous_page_number }}">
                            <span aria-hidden="true">&laquo; Trước</span>
                            <span class="sr-only">Previous</span>
                        </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Previous" href="">
                        <span aria-hidden="true">&laquo; Trước</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                
                  {% endif %}
            
            {% for num in all_comment.paginator.page_range %}

                {% if all_comment.number == num %}
                    <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                {% elif num > all_comment.number|add:'-3' and num < all_comment.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?comment={{ num }}">{{ num }}</a></li>
                    
                {% endif %}

            {% endfor %}
            {% if all_post.has_next %}
            <li class="page-item">
                <a class="page-link" aria-label="Next" href="?comment={{ all_comment.next_page_number }}">
                    <span aria-hidden="true">Sau &raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link disabled" aria-label="Next" href="">
                    <span aria-hidden="true">Sau &raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    
    <!-- <button class="load-more-button material-button" type="button">
        <i class="material-icons">&#xE5D5;</i>
        <span>Load More</span>
    </button> -->
</div>
</div>
<!-- article comment area start -->