{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!-- Register popup html source start -->
<div class="m-modal-box" id="registerModal">
    <div class="m-modal-overlay"></div>
    <div class="m-modal-content small">
        <div class="m-modal-header">
            <h3 class="m-modal-title">Tạo Tài Khoản</h3>
            <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
        </div>
        <div class="m-modal-body">
            <div class="m-modal-social-logins">
                    <div class="columns column-3">

                            <a type="button" class="btn btn-fb" href="{% provider_login_url "facebook" method="js_sdk" %}"><i
                                    class="fab fa-facebook-f pr-1"></i>Facebook</a>
                        </div>
                        <div class="columns column-3">
        
                            <a type="button" class="btn btn-gplus" href="{% provider_login_url "google" %}"><i
                                    class="fab fa-google-plus-g pr-1"></i> Google</a>
                            <!-- <button class="frm-button google material-button full" type="button" href="{% provider_login_url "google" %}">Google</button> -->
                        </div>
            </div>

            <div class="m-modal-seperator"><span>Hoặc</span></div>

            <form method="POST">
                {% csrf_token %}

                {% for b in form_reg %}
                
                {% if b.errors %}
                
                
                        {{ b.errors }}
                
                
                <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
                <script>
                    $('.m-modal-box#registerModal').show();
                </script>
               
                {% endif %}
                
                <div class="frm-row">
                    {{ b}}
                </div>

                {% endfor %}
                <style>
                        .errorlist{
                            color: red;
                            list-style-type: none;
                        }
                        
                </style>
                
                
                <div class="frm-row">
                    <button class="frm-button material-button full" name="register" type="submit" value="register">Tạo
                        Tài Khoản</button>
                </div>
            </form>
            <div class="frm-row">
                <p class="txt-center">Bạn đã có tài khoản? <a href="#" data-modal="loginModal">Đăng Nhập</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Register popup html source end ---->

<!-- Login popup html source start -->
<div class="m-modal-box" id="loginModal">
    <div class="m-modal-overlay"></div>
    <div class="m-modal-content small">
        <div class="m-modal-header">
            <h3 class="m-modal-title">Đăng Nhập</h3>
            <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
        </div>
        <div class="m-modal-body">
            <div class="m-modal-social-logins">
                <div class="columns column-3">

                    <a type="button" class="btn btn-fb" href="{% provider_login_url "facebook" method="js_sdk" %}"><i
                            class="fab fa-facebook-f pr-1"></i>Facebook</a>
                </div>
                <div class="columns column-3">

                    <a type="button" class="btn btn-gplus" href="{% provider_login_url "google" %}"><i
                            class="fab fa-google-plus-g pr-1"></i> Google</a>
                    <!-- <button class="frm-button google material-button full" type="button" href="{% provider_login_url "google" %}">Google</button> -->
                </div>
            </div>

            <div class="m-modal-seperator"><span>Hoặc</span></div>

            {% if user.is_authenticated is not True %}

            {% for m in messages %}

            {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {{ m}}
            </div>
            {% endif %}




            {% endfor %}

            {% endif %}


            <form method="POST">

                {% csrf_token %}
                {% for a in form %}
                <div class="frm-row">
                    {{ a}}
                </div>

                {% endfor %}

                <div class="frm-row">
                    <button class="frm-button material-button full" type="submit" name='login'
                        value="login">Login</button>
                </div>
            </form>
            <div class="frm-row">
                <p class="txt-center">Bạn Chưa có tài khoản ? <a href="#" data-modal="registerModal">Tạo Tài Khoản</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Login popup html source end -->

<!-- Newsletter popup html source start -->
<div class="m-modal-box" id="newsletterModal">
    <div class="m-modal-overlay"></div>
    <div class="m-modal-content small">
        <div class="m-modal-header">
            <h3 class="m-modal-title">Newsletter</h3>
            <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
        </div>
        <div class="m-modal-body">
            <p>Submit to our newsletter to receive exclusive stories delivered to you inbox!</p>
            <form>
                <div class="frm-row">
                    <input class="frm-input" type="text" name="email" placeholder="Email address">
                </div>
                <div class="frm-row">
                    <button class="frm-button material-button full" type="button">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Newsletter popup html source end -->