{% load static %}

<div class="sidebar">
    <div class="sidebar-wrapper">

        <!-- side menu logo start -->
        <div class="sidebar-logo">
            <a href="#"></a>
            <div class="sidebar-toggle-button">
                <i class="material-icons">&#xE317;</i>
            </div>
        </div>
        <!-- side menu logo end -->

        <!-- showing on mobile screen sizes -->
        <!-- mobile menu start -->
        <div id="mobileMenu">
            <div class="sidebar-seperate"></div>
        </div>
        <!-- mobile menu end -->

        <!-- sidebar menu start -->
        <ul class="sidebar-menu">
            
        </ul>
       
        <!-- sidebar menu end -->
       
        <div class="sidebar-seperate"></div>

        <!-- sidebar menu start -->
        <ul class="sidebar-menu">
            <li>
                <a href="#" class="facebook material-button">
                    <span class="menu-label">Facebook</span>
                </a>
            </li>
            <li>
                <a href="#" class="twitter material-button">
                    <span class="menu-label">Twitter</span>
                </a>
            </li>
            <li>
                <a href="#" class="google-plus material-button">
                    <span class="menu-label">Google +</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end -->
    </div>
</div>